@import "tailwindcss";

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-grayscale-black);
  color: white;
  border: none;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.font-numbers {
  font-family: var(--font-host-grotesk);
}


:root {

  --color-grayscale-black: #11171e;

  --color-primary-blue: #2c9cdb;
  --color-neon-blue: #2c9cdb;
  --color-blue-pressed: #135d7f;

  --color-error: #f1323e;
  --color-success: #3dd179;

  --primary-blue-filter: brightness(0) saturate(100%) invert(59%) sepia(92%) saturate(2319%) hue-rotate(167deg) brightness(96%) contrast(86%);

   /* --color-neon-blue: #26e3a4c0; */
  /* --color-gray-special: #292e38;
  --color-gray-900: #121418;
  --color-gray-800: #202329;
  --color-gray-700: #2a2e38;
  --color-gray-600: #343843;
  --color-gray-500: #4d5361;
  --color-gray-400: #828998;
  --color-gray-300: #9ba5b4;
  --color-gray-200: #bec6d1;
  --color-gray-100: #e6ecf1; */

  --green-50: #213b3f;
  --green-100: #275749;
  --green-200: #2e7353;
  --green-300: #358f5d;
  --green-400: #3bab68;
  --green-500: #43c773;
  --green-600: #69d290;
  --green-700: #91dead;
  --green-800: #b8e9ca;
  --green-900: #dff5e7;
  --red-50: #312c39;
  --red-100: #542e38;
  --red-200: #773138;
  --red-300: #9a3338;
  --red-400: #be3537;
  --red-500: #e13737;
  --red-600: #e76363;
  --red-700: #ee9090;
  --red-800: #f5bcbc;
  --red-900: #fbe8e8;

}

.input-base:-webkit-autofill,
.input-base:-webkit-autofill:hover, 
.input-base:-webkit-autofill:focus, 
.input-base:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    box-shadow: inset 0 0 20px 20px var(--color-gray-800);
    caret-color: white;
}

/* Variables */
@theme {
  --color-grayscale-black: #0f172a;

 --color-primary-blue: #2c9cdb;
  --color-neon-blue: #7717ff;
  --color-blue-pressed: #5f12cc;

  --color-error: #f1323e;
  --color-success: #3dd179;

  --primary-blue-filter: brightness(0) saturate(100%) invert(54%) sepia(98%) saturate(1675%) hue-rotate(186deg) brightness(100%) contrast(96%);
  --neon-blue-filter: brightness(0) saturate(100%) invert(34%) sepia(23%) saturate(7463%) hue-rotate(197deg) brightness(103%) contrast(107%);

  /* --color-gray-special: #292e38;
  --color-gray-900: #121418;
  --color-gray-800: #202329;
  --color-gray-700: #2a2e38;
  --color-gray-600: #343843;
  --color-gray-500: #4d5361;
  --color-gray-400: #828998;
  --color-gray-300: #9ba5b4;
  --color-gray-200: #bec6d1;
  --color-gray-100: #e6ecf1; */

  --green-50: #213b3f;
  --green-100: #275749;
  --green-200: #2e7353;
  --green-300: #358f5d;
  --green-400: #3bab68;
  --green-500: #43c773;
  --green-600: #69d290;
  --green-700: #91dead;
  --green-800: #b8e9ca;
  --green-900: #dff5e7;
  --red-50: #312c39;
  --red-100: #542e38;
  --red-200: #773138;
  --red-300: #9a3338;
  --red-400: #be3537;
  --red-500: #e13737;
  --red-600: #e76363;
  --red-700: #ee9090;
  --red-800: #f5bcbc;
  --red-900: #fbe8e8;


}




/* :root {
  --color-main-blue: #26e3a4;
  --color-neon-blue: #26e3a4c0;
  --color-gray-special: #292e38;
  --color-gray-900: #121418;
  --color-gray-800: #202329;
  --color-gray-700: #2a2e38;
  --color-gray-600: #343843;
  --color-gray-500: #4d5361;
  --color-gray-400: #828998;
  --color-gray-300: #9ba5b4;
  --color-gray-200: #bec6d1;
  --color-gray-100: #e6ecf1; */


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Styled scrollbar */
.scrollbar-light {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-900) transparent;
  scrollbar-gutter: stable both-edges;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.price-display {
  font-feature-settings: "tnum" 1, "lnum" 1;
}


/* first primary from which neon was dervied  */
/* --color-primary-blue: #1E90FF;
--color-primary-blue: #49a1f9;
--color-neon-blue: #0080ff;
--color-blue-pressed:#004386; */


  /* --color-primary-blue: #1E90FF; */
  /* --color-primary-blue: #49a1f9;
  --color-neon-blue: #0080ff;
  --color-blue-pressed:#004386;

  --primary-blue-filter: brightness(0) saturate(100%) invert(54%) sepia(98%) saturate(1675%) hue-rotate(186deg) brightness(100%) contrast(96%);
  --neon-blue-filter: brightness(0) saturate(100%) invert(34%) sepia(23%) saturate(7463%) hue-rotate(197deg) brightness(103%) contrast(107%); */